.Dictionary section {
  /* background: #ebced1; */
  background: #fa91ce;
  padding: 40px 20px 40px 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 60px 0px 60px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 7px;
  color: #fa91ce;

  border: 1px solid #fa91ce;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
