.Phonetic {
  height: 50px;
  opacity: 0.7;
}

.Phonetic a {
  font-size: 20px;
  border: 1px solid rgb(231, 215, 217);
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  margin-left: 15px;
  color: rgb(231, 215, 217);
}

.Phonetic a:hover {
  background: rgb(231, 215, 217);
  color: rgb(255, 255, 255);
}
